{:paths ["src/main"]

 :deps {instaparse/instaparse    {:mvn/version "1.4.12"}
        org.babashka/sci         {:mvn/version "0.3.32"}
        meander/epsilon          {:mvn/version "0.0.650"}
        medley/medley            {:mvn/version "1.4.0"}
        net.cgrand/macrovich     {:mvn/version "0.2.1"}
        lambdaisland/regal       {:mvn/version "0.0.143"}}


 :aliases {:clj {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.866"}}}

           :dev {:extra-paths ["dev"]}

           :nrepl  {:extra-deps {nrepl/nrepl      {:mvn/version "1.0.0"}}}

           :piggie {:extra-deps {cider/piggieback {:mvn/version "0.5.3"}}}

           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.274"}}}

           :test {:extra-paths ["test" "test-resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.69.1069"}
                               com.lambdaisland/kaocha-cljs {:mvn/version "1.2.123"}}}

           :build {:extra-paths ["build" "src/build"]
                   :extra-deps {fr.jeremyschoffen/mbt-alpha {:mvn/version "14"}}}}}
