#kaocha/v1
    {:tests [{:id :unit-clj
              :source-paths ["src/main"]
              :test-paths ["src/test"]
              :ns-patterns ["-test$"]}

             {:id :unit-cljs
              :type :kaocha.type/cljs
              :source-paths ["src/main"]
              :test-paths ["src/test"]
              :ns-patterns ["-test$"]}]}
